# Hugo default output directory
/public

# Ignore node modules 
node_modules

# Hugo generated resources cache folder 
resources

## OS Files
# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# OSX
.DS_Store